@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif; 
    background-color: #08082c;
    color: #eee;
}
.container {
    display: flex;
    justify-content: center;
    background-color: #212150;
    width: 580px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0px 20px;
    border-radius: 10px;
}
.close {
    width: 50px;
    height: 50px;
    position: relative;
    left: 455px;
    background-color: #2d2d70;
    border-top-right-radius: 7px;
    
}
.fa-times {
    position: relative;
    top: 13px;
    left: 17px;
    color: #fff;
    font-size: 20px;
}
.box p {
    font-size: 22px;
    padding: 0%;
    margin: 20px 0% 0% 0%;
}
.box #small {
    padding-bottom: 10px;
    font-size: 12px;
    margin: 4px 0px 20px 0px;
    color: #888;
   
}

  input[type="checkbox"]  {
    
    margin: 0 10px 0 0;
    
  
  }
  .checkbox {
      padding-bottom: 20px;
  }
  .checkbox small {
    margin-left: 22px;
    font-weight: lighter;
    font-size: 12px;
    color: #888;

  }
  textarea {
      background-color: #08082c;
      border: none;
      border-radius: 5px ;
      margin-top: 17px;

  }
  button {
      padding: 10px 20px;
      background-color: rgb(241, 125, 58);
      color: #fff;
      border: none;
      border-radius: 4px;
      margin: 20px 0px 30px 0px;
  }